@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Styles */
@layer base {
  body,
  html {
    @apply min-h-screen m-0 p-0;
  }
  /* Scrollbar behavior */
  * {
    /*     scrollbar-width: thin; */
    scrollbar-color: rgba(96, 96, 96, 0.5) rgba(255, 255, 255, 0);
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    display: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: none;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  body {
    @apply bg-gray-100;
  }

  /*---------------------------------- Standard Text ------------------------------------*/
  h1 {
    @apply text-3xl font-sans not-italic font-semibold text-gray-600 px-8;
  }
  h2 {
    @apply text-2xl font-sans not-italic font-medium text-gray-600 px-8;
  }
  h3 {
    @apply text-xl font-sans not-italic font-medium text-gray-600 px-8;
  }
  p,
  li,
  span {
    @apply text-base font-sans not-italic font-normal text-gray-600 px-8;
  }
  label {
    @apply text-base font-sans not-italic font-medium text-gray-600 px-8;
  }
  /* ---------------------------------------------------- Navs --------------------------------------------------*/
  Nav {
    @apply p-20;
  }
  .navbar {
    @apply w-full h-16 flex mb-8;
    /* bg-white border border-gray-200 */
  }
  .navbar ul {
    @apply pl-4;
  }
  .navbar li {
    @apply float-left px-6;
  }
  .navbar a {
    @apply pb-2 text-gray-400 no-underline text-base font-sans font-medium text-left;
  }
  .navbar a:hover {
    @apply text-gray-800;
  }
  .navbar .active > a {
    @apply text-gray-600 border-purple-600 border-b-2;
    /* border-purple-600 border-b-2 */
  }
  .navbar .brand {
    @apply font-sans text-xl font-bold text-left p-4 pl-0 mr-3;
  }
  .avatar {
    @apply m-4 object-center;
  }
  .avatar-canvas:hover {
    @apply opacity-75;
  }
  .avatar:active {
    @apply transition duration-100 ease-in-out animate-pulse;
  }

  /*---------------------------------------- Cards, Containers, and Modals --------------------------------------*/
  /* Parent container of fullscreen list */
  .list-card {
    @apply card mx-20 mb-14 pb-4;
  }
  /* Parent container for dashboard cards */
  .dash-card {
    @apply card mx-0 my-0 py-4 pr-2;
  }

  /* Parent div for card container, wraps card-container and card */
  .card-container-parent {
    @apply flex w-full mx-auto justify-center;
    height: calc(100vh - 6rem);
  }
  /* Parent div for cards */
  .card-container {
    @apply flex-auto mx-10 overflow-y-auto scrollbar-hidden rounded-sm max-h-screen;
  }
  /* Cards */
  .card {
    @apply relative flex-col break-words w-full shadow-md rounded-sm bg-white border-0 overflow-hidden mb-8;
  }
  /* Main column for cards */
  .cardcol {
    @apply rounded-t mb-0 px-6 py-6;
  }
  /* Parent for card inner scroll container */
  .inner-scroll-parent {
    @apply relative h-full;
    /* fade-bottom */
  }
  /* Heading section for inner scroll container */
  .inner-scroll-heading {
    @apply absolute left-0 right-0 top-0 bg-transparent py-6;
  }
  /* Card inner scroll container */
  .inner-scroll {
    @apply absolute inset-0 overflow-auto mt-16 pb-4 space-y-4 py-4 top-7 z-0;
  }
  /* Cards */
  .modal-card {
    @apply relative flex-col min-w-0 break-words w-full rounded-sm bg-white border-gray-200 border-2 my-6 p-6 overflow-hidden z-50;
  }
  /*---------------------------------- Form Fields --------------------------------------*/
  /* Div that wraps label and input or textarea */
  .input-container {
    @apply mb-16;
  }
  /* Input and textarea boxes */
  .inputbox {
    @apply rounded-md border border-gray-400 px-1 py-1 bg-white  w-3/4 text-gray-800;
  }
  /* Input and textarea focus behavior */
  .inputbox:focus {
    @apply ring-2 ring-purple-300; /* border-green-500 */
  }
  /* Form field labels */
  .formfieldlabel {
    @apply text-base leading-8 font-sans not-italic font-medium text-gray-600 pb-4;
  }
  /* Main container for dropdown */
  .dropdown-parent {
    @apply w-full rounded-md border border-gray-400 px-2 py-2 bg-blue-100 text-gray-800 grid mb-4;
  }
  /* Custom field styling for dropdown */
  .dropdown-field {
    @apply w-full row-start-1 col-start-1 bg-transparent z-10 max-h-24 overflow-y-auto;
  }
  /* Styling for caret square icon */
  .dropdown-caret {
    @apply text-gray-500 row-start-1 col-start-1 z-0 justify-self-end;
  }
  /* Override existing select style */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  /*--------------------------------- Buttons and Links ---------------------------------*/
  /* Link that goes back to the main component page */
  .back-link {
    @apply w-full lg:w-4/12 px-4;
  }
  /* Div that contains the save/cancel or edit/delete buttons */
  .btn-div {
    @apply flex flex-row justify-between px-6 pb-6;
  }
  /* Button container */
  .btn {
    @apply w-40 px-4 py-2 rounded-md sm:mr-2 mb-1;
  }
  /* A11y: Set focusring for custom buttons */
  .btn:focus-visible {
    outline: 1px dotted #000;
  }
  /* Button for submit/save */
  .btn.save {
    @apply bg-purple-600 text-white font-bold text-base;
  }
  /* Active styles for submit/save button  */
  .btn.save:active {
    @apply transition duration-100 ease-in-out ring-4 ring-purple-300  animate-pulse;
  }
  /* Hover styles for submit/save button  */
  .btn.save:hover {
    @apply bg-purple-700;
  }
  /* Button for add */
  .btn.add {
    @apply bg-white border border-green-500 text-green-500 font-bold text-base;
  }
  /* Active styles for add button  */
  .btn.add:active {
    @apply transition duration-100 ease-in-out ring-4 ring-green-300 animate-pulse;
  }
  /* Hover styles for add button  */
  .btn.add:hover {
    @apply bg-green-500 text-white;
  }
  /* Button for edit */
  .btn.edit {
    @apply bg-white border border-purple-600 text-purple-600 font-bold text-base;
  }
  /* Active styles for edit button  */
  .btn.edit:active {
    @apply transition duration-100 ease-in-out ring-4 ring-purple-300 animate-pulse;
  }
  /* Hover styles for edit button  */
  .btn.edit:hover {
    @apply bg-purple-700 text-white;
  }
  /* Button for cancel/discard */
  .btn.cancel {
    @apply bg-pink-600 text-white font-bold text-base;
  }
  /* Active styles for cancel/discard button  */
  .btn.cancel:active {
    @apply transition duration-100 ease-in-out ring-4 ring-pink-300  animate-pulse;
  }
  /* Hover styles for cancel/discard  button  */
  .btn.cancel:hover {
    @apply bg-pink-700;
  }
  /* Button for delete */
  .btn.delete {
    @apply bg-white text-pink-600 border border-pink-600 font-bold text-base;
  }
  /* Active styles for delete button  */
  .btn.delete:active {
    @apply transition duration-100 ease-in-out ring-4 ring-pink-300  animate-pulse;
  }
  /* Hover styles for delete  button  */
  .btn.delete:hover {
    @apply bg-pink-700 text-white;
  }

  /* Remove checkbox from input to allow custom styling*/
  input.noCheckbox {
    display: none;
  }

  /*------------------------------- Error Handling and Alerts ----------------------------*/
  /* Error message text */
  .error {
    @apply text-red-600 font-medium mb-5 pb-6;
  }
  /* Red asterisk for required fields wrapped in div with this class */
  .required-field::before {
    content: "* ";
    color: red;
  }
}
